## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [41]:
# importing libraries

import itertools
import numpy as np
import pandas as pd 
from numbers import Number
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [42]:
df = pd.read_csv("data/kc_house_data.csv")
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,NO,NONE,...,8 Good,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,NO,NONE,...,8 Good,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,NO,NONE,...,7 Average,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,NONE,...,8 Good,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,NO,NONE,...,7 Average,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

In [43]:
# Checking columns
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [44]:

# colums to possibly exclude:
# view
# yr_renovated

# colums to possibly exclude
# id
# date
# sqft_above
# sqft_basement
# zipcode
# lat
# long
# sqft_living15
# sqft_lot15

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

In [46]:
df["waterfront"].value_counts()

NO     19075
YES      146
Name: waterfront, dtype: int64

In [47]:
# Trying to calculate age of house by pulling only the year
df['year_sold'] = pd.to_datetime(df['date']).dt.date.astype('datetime64[ns]')
df['year_sold'] = pd.DatetimeIndex(df['year_sold']).year 
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year_sold
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650,2014
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639,2014
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062,2015
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000,2014
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,NO,NONE,...,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509,2014
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,NO,NONE,...,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200,2015
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,NO,NONE,...,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007,2014
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,NONE,...,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287,2015
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,NO,NONE,...,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357,2014

In [48]:
#calculate age of home
df['age_home'] = (df['year_sold'] - df['yr_built']).astype(int)
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year_sold,age_home
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650,2014,59
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639,2014,63
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062,2015,82
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000,2014,49
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503,2015,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,NO,NONE,...,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509,2014,5
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,NO,NONE,...,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200,2015,1
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,NO,NONE,...,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007,2014,5
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,NONE,...,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287,2015,11
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,NO,NONE,...,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357,2014,6

In [49]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'year_sold', 'age_home'],
      dtype='object')

In [55]:
# dropping columns 
df.drop(['id', 'date', 'sqft_above', 'sqft_basement', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'], axis = 1, inplace= True)
df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,yr_renovated,year_sold,age_home
0,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,Average,7 Average,1955,0.0,2014,59
1,538000.0,3,2.25,2570,7242,2.0,NO,NONE,Average,7 Average,1951,1991.0,2014,63
2,180000.0,2,1.00,770,10000,1.0,NO,NONE,Average,6 Low Average,1933,NaN,2015,82
3,604000.0,4,3.00,1960,5000,1.0,NO,NONE,Very Good,7 Average,1965,0.0,2014,49
4,510000.0,3,2.00,1680,8080,1.0,NO,NONE,Average,8 Good,1987,0.0,2015,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,360000.0,3,2.50,1530,1131,3.0,NO,NONE,Average,8 Good,2009,0.0,2014,5
21593,400000.0,4,2.50,2310,5813,2.0,NO,NONE,Average,8 Good,2014,0.0,2015,1
21594,402101.0,2,0.75,1020,1350,2.0,NO,NONE,Average,7 Average,2009,0.0,2014,5
21595,400000.0,3,2.50,1600,2388,2.0,NaN,NONE,Average,8 Good,2004,0.0,2015,11
21596,325000.0,2,0.75,1020,1076,2.0,NO,NONE,Average,7 Average,2008,0.0,2014,6

In [67]:
df['yr_renovated'].value_counts()

0.0       17011
2014.0       73
2003.0       31
2013.0       31
2007.0       30
          ...
1946.0        1
1959.0        1
1971.0        1
1951.0        1
1954.0        1
Name: yr_renovated, Length: 70, dtype: int64

In [71]:
df_not_renovated = df[df['yr_renovated'].isin([0.0]) == True] 
df_not_renovated['yr_renovated'].value_counts()

0.0    17011
Name: yr_renovated, dtype: int64

In [72]:
df_not_renovated

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,yr_renovated,year_sold,age_home
0,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,Average,7 Average,1955,0.0,2014,59
3,604000.0,4,3.00,1960,5000,1.0,NO,NONE,Very Good,7 Average,1965,0.0,2014,49
4,510000.0,3,2.00,1680,8080,1.0,NO,NONE,Average,8 Good,1987,0.0,2015,28
5,1230000.0,4,4.50,5420,101930,1.0,NO,NONE,Average,11 Excellent,2001,0.0,2014,13
6,257500.0,3,2.25,1715,6819,2.0,NO,NONE,Average,7 Average,1995,0.0,2014,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,360000.0,3,2.50,1530,1131,3.0,NO,NONE,Average,8 Good,2009,0.0,2014,5
21593,400000.0,4,2.50,2310,5813,2.0,NO,NONE,Average,8 Good,2014,0.0,2015,1
21594,402101.0,2,0.75,1020,1350,2.0,NO,NONE,Average,7 Average,2009,0.0,2014,5
21595,400000.0,3,2.50,1600,2388,2.0,NaN,NONE,Average,8 Good,2004,0.0,2015,11
21596,325000.0,2,0.75,1020,1076,2.0,NO,NONE,Average,7 Average,2008,0.0,2014,6

In [81]:
df_not_renovated = df_not_renovated[df_not_renovated['bedrooms'] <= 8]
df_not_renovated

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,yr_renovated,year_sold,age_home
0,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,Average,7 Average,1955,0.0,2014,59
3,604000.0,4,3.00,1960,5000,1.0,NO,NONE,Very Good,7 Average,1965,0.0,2014,49
4,510000.0,3,2.00,1680,8080,1.0,NO,NONE,Average,8 Good,1987,0.0,2015,28
5,1230000.0,4,4.50,5420,101930,1.0,NO,NONE,Average,11 Excellent,2001,0.0,2014,13
6,257500.0,3,2.25,1715,6819,2.0,NO,NONE,Average,7 Average,1995,0.0,2014,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,360000.0,3,2.50,1530,1131,3.0,NO,NONE,Average,8 Good,2009,0.0,2014,5
21593,400000.0,4,2.50,2310,5813,2.0,NO,NONE,Average,8 Good,2014,0.0,2015,1
21594,402101.0,2,0.75,1020,1350,2.0,NO,NONE,Average,7 Average,2009,0.0,2014,5
21595,400000.0,3,2.50,1600,2388,2.0,NaN,NONE,Average,8 Good,2004,0.0,2015,11
21596,325000.0,2,0.75,1020,1076,2.0,NO,NONE,Average,7 Average,2008,0.0,2014,6

In [84]:
df_not_renovated = df_not_renovated[df_not_renovated['bathrooms'] <= 5]
df_not_renovated

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,yr_renovated,year_sold,age_home
0,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,Average,7 Average,1955,0.0,2014,59
3,604000.0,4,3.00,1960,5000,1.0,NO,NONE,Very Good,7 Average,1965,0.0,2014,49
4,510000.0,3,2.00,1680,8080,1.0,NO,NONE,Average,8 Good,1987,0.0,2015,28
5,1230000.0,4,4.50,5420,101930,1.0,NO,NONE,Average,11 Excellent,2001,0.0,2014,13
6,257500.0,3,2.25,1715,6819,2.0,NO,NONE,Average,7 Average,1995,0.0,2014,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,360000.0,3,2.50,1530,1131,3.0,NO,NONE,Average,8 Good,2009,0.0,2014,5
21593,400000.0,4,2.50,2310,5813,2.0,NO,NONE,Average,8 Good,2014,0.0,2015,1
21594,402101.0,2,0.75,1020,1350,2.0,NO,NONE,Average,7 Average,2009,0.0,2014,5
21595,400000.0,3,2.50,1600,2388,2.0,NaN,NONE,Average,8 Good,2004,0.0,2015,11
21596,325000.0,2,0.75,1020,1076,2.0,NO,NONE,Average,7 Average,2008,0.0,2014,6

In [91]:
df_not_renovated.sort_values(by='price', ascending=False)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,yr_renovated,year_sold,age_home
1446,5350000.0,5,5.00,8000,23985,2.0,NO,EXCELLENT,Average,12 Luxury,2009,0.0,2015,6
8629,4490000.0,4,3.00,6430,27517,2.0,NO,NONE,Average,12 Luxury,2001,0.0,2014,13
2083,3850000.0,4,4.25,5770,21300,2.0,YES,EXCELLENT,Good,11 Excellent,1980,0.0,2014,34
19002,3800000.0,3,4.25,5510,35000,2.0,NO,EXCELLENT,Average,13 Mansion,1997,0.0,2014,17
16288,3710000.0,4,3.50,5550,28078,2.0,NO,AVERAGE,Good,12 Luxury,2000,0.0,2014,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18453,83000.0,2,1.00,900,8580,1.0,NO,NONE,Average,5 Fair,1918,0.0,2014,96
2139,82500.0,2,1.00,520,22334,1.0,NO,NONE,Fair,5 Fair,1951,0.0,2014,63
8267,82000.0,3,1.00,860,10426,1.0,NO,NONE,Average,6 Low Average,1954,0.0,2014,60
16184,81000.0,2,1.00,730,9975,1.0,NaN,NONE,Poor,5 Fair,1943,0.0,2015,72
465,80000.0,1,0.75,430,5050,1.0,NaN,NONE,Fair,4 Low,1912,0.0,2014,102