## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyRegressor
import statsmodels
from statsmodels.formula.api import ols
from scipy.stats import kurtosis,skew
from pandas.plotting import scatter_matrix
from sklearn.preprocessing import StandardScaler

In [2]:
df_kc = pd.read_csv('data/kc_house_data.csv', index_col='id')

In [3]:
df_kc.drop(['date', 'view', 'sqft_above', 'sqft_basement',  'sqft_living15', 'sqft_lot15'],axis=1, inplace=True)

In [4]:
df_kc

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,yr_built,yr_renovated,zipcode,lat,long
id,,,,,,,,,,,,,,
7129300520,221900.0,3,1.00,1180,5650,1.0,NaN,Average,7 Average,1955,0.0,98178,47.5112,-122.257
6414100192,538000.0,3,2.25,2570,7242,2.0,NO,Average,7 Average,1951,1991.0,98125,47.7210,-122.319
5631500400,180000.0,2,1.00,770,10000,1.0,NO,Average,6 Low Average,1933,NaN,98028,47.7379,-122.233
2487200875,604000.0,4,3.00,1960,5000,1.0,NO,Very Good,7 Average,1965,0.0,98136,47.5208,-122.393
1954400510,510000.0,3,2.00,1680,8080,1.0,NO,Average,8 Good,1987,0.0,98074,47.6168,-122.045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,360000.0,3,2.50,1530,1131,3.0,NO,Average,8 Good,2009,0.0,98103,47.6993,-122.346
6600060120,400000.0,4,2.50,2310,5813,2.0,NO,Average,8 Good,2014,0.0,98146,47.5107,-122.362
1523300141,402101.0,2,0.75,1020,1350,2.0,NO,Average,7 Average,2009,0.0,98144,47.5944,-122.299
291310100,400000.0,3,2.50,1600,2388,2.0,NaN,Average,8 Good,2004,0.0,98027,47.5345,-122.069
1523300157,325000.0,2,0.75,1020,1076,2.0,NO,Average,7 Average,2008,0.0,98144,47.5941,-122.299

In [5]:
df_kc=df_kc[df_kc['bedrooms']<=8]

In [6]:
df_kc

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,yr_built,yr_renovated,zipcode,lat,long
id,,,,,,,,,,,,,,
7129300520,221900.0,3,1.00,1180,5650,1.0,NaN,Average,7 Average,1955,0.0,98178,47.5112,-122.257
6414100192,538000.0,3,2.25,2570,7242,2.0,NO,Average,7 Average,1951,1991.0,98125,47.7210,-122.319
5631500400,180000.0,2,1.00,770,10000,1.0,NO,Average,6 Low Average,1933,NaN,98028,47.7379,-122.233
2487200875,604000.0,4,3.00,1960,5000,1.0,NO,Very Good,7 Average,1965,0.0,98136,47.5208,-122.393
1954400510,510000.0,3,2.00,1680,8080,1.0,NO,Average,8 Good,1987,0.0,98074,47.6168,-122.045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,360000.0,3,2.50,1530,1131,3.0,NO,Average,8 Good,2009,0.0,98103,47.6993,-122.346
6600060120,400000.0,4,2.50,2310,5813,2.0,NO,Average,8 Good,2014,0.0,98146,47.5107,-122.362
1523300141,402101.0,2,0.75,1020,1350,2.0,NO,Average,7 Average,2009,0.0,98144,47.5944,-122.299
291310100,400000.0,3,2.50,1600,2388,2.0,NaN,Average,8 Good,2004,0.0,98027,47.5345,-122.069
1523300157,325000.0,2,0.75,1020,1076,2.0,NO,Average,7 Average,2008,0.0,98144,47.5941,-122.299

In [7]:
df_kc=df_kc[df_kc['bathrooms']<=5]

In [8]:
df_kc

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,yr_built,yr_renovated,zipcode,lat,long
id,,,,,,,,,,,,,,
7129300520,221900.0,3,1.00,1180,5650,1.0,NaN,Average,7 Average,1955,0.0,98178,47.5112,-122.257
6414100192,538000.0,3,2.25,2570,7242,2.0,NO,Average,7 Average,1951,1991.0,98125,47.7210,-122.319
5631500400,180000.0,2,1.00,770,10000,1.0,NO,Average,6 Low Average,1933,NaN,98028,47.7379,-122.233
2487200875,604000.0,4,3.00,1960,5000,1.0,NO,Very Good,7 Average,1965,0.0,98136,47.5208,-122.393
1954400510,510000.0,3,2.00,1680,8080,1.0,NO,Average,8 Good,1987,0.0,98074,47.6168,-122.045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,360000.0,3,2.50,1530,1131,3.0,NO,Average,8 Good,2009,0.0,98103,47.6993,-122.346
6600060120,400000.0,4,2.50,2310,5813,2.0,NO,Average,8 Good,2014,0.0,98146,47.5107,-122.362
1523300141,402101.0,2,0.75,1020,1350,2.0,NO,Average,7 Average,2009,0.0,98144,47.5944,-122.299
291310100,400000.0,3,2.50,1600,2388,2.0,NaN,Average,8 Good,2004,0.0,98027,47.5345,-122.069
1523300157,325000.0,2,0.75,1020,1076,2.0,NO,Average,7 Average,2008,0.0,98144,47.5941,-122.299

In [9]:
df_kc['price'].sort_values(ascending=False)[:50]

id
9808700762    7060000.0
8907500070    5350000.0
3835500195    4490000.0
8106100105    3850000.0
2303900100    3800000.0
7397300170    3710000.0
4389201095    3650000.0
4217402115    3650000.0
2425049063    3640000.0
4114601570    3600000.0
9253900271    3570000.0
2525049148    3420000.0
1118000320    3400000.0
9362000040    3400000.0
3126059023    3400000.0
9808100150    3350000.0
3625059152    3300000.0
3625059043    3300000.0
1346300150    3300000.0
7524900003    3280000.0
7159200005    3200000.0
251500080     3200000.0
1068000375    3200000.0
8964800890    3200000.0
624069108     3200000.0
3025059124    3170000.0
333100295     3120000.0
4131900066    3100000.0
2424049029    3100000.0
3225069065    3080000.0
1732800780    3070000.0
3760500116    3070000.0
8964800330    3000000.0
518500480     3000000.0
3761100045    3000000.0
9808100100    3000000.0
1925059254    3000000.0
1118000340    3000000.0
2524049166    2950000.0
1176001310    2950000.0
3625049014    2950000.0
6613000930    2950000.0
1370800515    2950000.0
5317100750    2920000.0
7960900060    2900000.0
2624049091    2900000.0
6447300365    2900000.0
7159200040    2900000.0
1118000301    2890000.0
5316101075    2890000.0
Name: price, dtype: float64

In [10]:
df_kc=df_kc[df_kc['price']<=800000]

In [11]:
df_kc

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,yr_built,yr_renovated,zipcode,lat,long
id,,,,,,,,,,,,,,
7129300520,221900.0,3,1.00,1180,5650,1.0,NaN,Average,7 Average,1955,0.0,98178,47.5112,-122.257
6414100192,538000.0,3,2.25,2570,7242,2.0,NO,Average,7 Average,1951,1991.0,98125,47.7210,-122.319
5631500400,180000.0,2,1.00,770,10000,1.0,NO,Average,6 Low Average,1933,NaN,98028,47.7379,-122.233
2487200875,604000.0,4,3.00,1960,5000,1.0,NO,Very Good,7 Average,1965,0.0,98136,47.5208,-122.393
1954400510,510000.0,3,2.00,1680,8080,1.0,NO,Average,8 Good,1987,0.0,98074,47.6168,-122.045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,360000.0,3,2.50,1530,1131,3.0,NO,Average,8 Good,2009,0.0,98103,47.6993,-122.346
6600060120,400000.0,4,2.50,2310,5813,2.0,NO,Average,8 Good,2014,0.0,98146,47.5107,-122.362
1523300141,402101.0,2,0.75,1020,1350,2.0,NO,Average,7 Average,2009,0.0,98144,47.5944,-122.299
291310100,400000.0,3,2.50,1600,2388,2.0,NaN,Average,8 Good,2004,0.0,98027,47.5345,-122.069
1523300157,325000.0,2,0.75,1020,1076,2.0,NO,Average,7 Average,2008,0.0,98144,47.5941,-122.299

In [12]:
df_kc['yr_renovated']=df_kc['yr_renovated'].replace(to_replace = np.nan, value = 0.0).copy()

<ipython-input-12-f8c6ff3a3737>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_kc['yr_renovated']=df_kc['yr_renovated'].replace(to_replace = np.nan, value = 0.0).copy()

In [13]:
df_kc

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,yr_built,yr_renovated,zipcode,lat,long
id,,,,,,,,,,,,,,
7129300520,221900.0,3,1.00,1180,5650,1.0,NaN,Average,7 Average,1955,0.0,98178,47.5112,-122.257
6414100192,538000.0,3,2.25,2570,7242,2.0,NO,Average,7 Average,1951,1991.0,98125,47.7210,-122.319
5631500400,180000.0,2,1.00,770,10000,1.0,NO,Average,6 Low Average,1933,0.0,98028,47.7379,-122.233
2487200875,604000.0,4,3.00,1960,5000,1.0,NO,Very Good,7 Average,1965,0.0,98136,47.5208,-122.393
1954400510,510000.0,3,2.00,1680,8080,1.0,NO,Average,8 Good,1987,0.0,98074,47.6168,-122.045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,360000.0,3,2.50,1530,1131,3.0,NO,Average,8 Good,2009,0.0,98103,47.6993,-122.346
6600060120,400000.0,4,2.50,2310,5813,2.0,NO,Average,8 Good,2014,0.0,98146,47.5107,-122.362
1523300141,402101.0,2,0.75,1020,1350,2.0,NO,Average,7 Average,2009,0.0,98144,47.5944,-122.299
291310100,400000.0,3,2.50,1600,2388,2.0,NaN,Average,8 Good,2004,0.0,98027,47.5345,-122.069
1523300157,325000.0,2,0.75,1020,1076,2.0,NO,Average,7 Average,2008,0.0,98144,47.5941,-122.299